<main>
  <div id="pagPosts-nav">
    <div id="main-nav"class="mx-auto p-2 main_hor_size text-light">
      {{> log_in_out}}
        <div class="bg_fade h-100" style="background-image:url('../static/img/{{post.img}}'); background-repeat:no-repeat; background-size:cover;">
          <div class="titleArea h-75">
            <h2>{{post.title}}</h2>
          <small>{{post.content}}</small>
          </div>

        </div>
    </div>
  </div>
</main>
