{{#if session.authenticated}}
<a href="/logout"><button type="button" class="btn btn-danger float-right" >Logout</button></a>


{{else}}
<a href="/login"><button type="button" class="btn btn-info float-right" >Login</button></a>
{{/if}}
