.main_hor_size{
  background-color: rgba(6, 79, 84, 0.5);
  height:550px;
  width:90%;
}

.site_color{
    background-image: linear-gradient(to bottom, rgb(6, 79, 84), white);
}

.bg-img-post{

   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

.post_contentArea{
     color:white;

  text-decoration:none;

}
.post_contentArea:hover{
  color:white;
  text-decoration:none;
}

.post_contentArea .hover_content:hover{
   background-color: rgba(255, 255, 255, 0.3);
}

.btn_submit{

  background-color: rgba(6, 79, 84,1);
  color:white;
}

.btn_submit:hover{
  background-color: rgba(255,255,255,1);

  color: rgba(6, 79, 84,1);
}
